.resort-card {
  background-color: #3b3b3b;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  transition: 0.2s linear;
  gap: 5px;
  border-radius: 10px;
  padding-bottom: 30px;

  img {
    border-radius: 10px 10px 0px 0px;
  }

  &__title {
    padding: 10px 10px 0px 10px;
    a {
      margin-left: 10px;
    }
  }
}

a:hover {
  color: #6096b4;
}

.resort-card:hover {
  scale: 1.05;
  cursor: pointer;
}

.resort-card > * {
  margin: 0;
}
